/****************************
GENERAL
****************************/
body{
  background-color: moccasin;
  color: #FF6600;
  /*#FA9AA2;*/
  font-family:'Open Sans', sans-serif;
}

#wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a{
  text-decoration:none;
}

img{
  max-width: 100%;
}

/****************************
HEADERS
****************************/
header{
  float:left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo{
  text-align: center;
  margin: 0;
}

h1{
  font-family: 'Oxygen', sans-serif;
  margin: 15px, 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2{
  margin: -5px, 0 0;
  font-size: 0.75em;
  font-weight: normal;
}

h3{
  margin: 0 0 1em 0;
}

header {
  background: #E69ED8;
  border-color: #FEDBF7;
}

h1,h2 {
  color: paleturquoise;
}

/****************************
NAVIGATION
****************************/
nav{
  background: #A294C7;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li{
  display: inline-block; /*allows items sidebyside but retain having width and height*/
}

nav a, nav a:visited {
  color: #FEDBF7;
  font-weight: 800;
  padding: 15px 10px;
}

nav a.selected, nav a:hover {
  color: paleturquoise;
/*    #79B4F4;*/
}

/****************************
FOOTER
****************************/
footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #800000;
}

.social-icon{
  width: 80px;
  height: 60px;
  margin: 0 5px; /*top and bottom, left and right*/
  
}

/****************************
PAGE: PORTFOLIO
****************************/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}
#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: paleturquoise;
/*    #33f2ff;*/
  color: #FF6600;  
 /* #F97687;*/
}

#gallery li a p {
  margin: 0;  /*padding is prefered to margins cause margins tend to push things to where they shouldn't be*/
  padding: 5%;
  font-size:0.75em;
  color: #800000;
}

/****************************
PAGE: ABOUT
****************************/
.profile-photo{
  display: block; /*photos are by default inline, we dont want that here */
  max-width: 300px;
  margin: 0 auto 30px;
/*  border-radius: 100%;*/
}

/****************************
PAGE: CONTACT
****************************/
.contact-info{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
contact-info a{
  display:block;
  min-height:20px;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

contact-info li.phone a {
  background-image: url('../img/numbers1.jpg');
}

contact-info li.mail a {
  background-image: url('../img/dontbreathe.gif');
}
